[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sklearn = "*"
jinja2 = "*"
python-multipart = "*"
aiofiles = "*"
pillow = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.8"
